@import 'src/variables';

.project-card {
    width: 100%;
    height: 100%;

    color: white;
    border-radius: 4px;

    // animation: 400ms fadeInDown ease-in-out;
    animation-fill-mode: forwards;
    // box-shadow: 0px 5px 20px lighten($PRIMARY, 10%);
    
    &:hover {
        .project-inner {
            transform: translateY(-8px);
            .project-title {
                color: $SECONDARY;
            }
        }
    }
    cursor: pointer;
}

@for $i from 1 through 100 {
    .project-card:nth-child(#{$i}n) {
        animation-delay: #{$i * 200ms};
    }    
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.project-inner {
    background: $PRIMARY;
    height: 100%;
    padding: 2rem 1.75rem;

    transition: transform 250ms;
}

.project-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
}

.project-title {
    font-size: 22px;
    font-family: 'Amaranth', sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: bold;

    transition: color 250ms;
}

.project-description {
    font-size: 17px;
}