@import 'src/variables';

.about-me-pg {
    // max-width: 1600px;
    padding: 275px  200px;
    background: repeating-linear-gradient(135deg, 
    $PRIMARY-DARK1 0%, $PRIMARY 40%,
    $PRIMARY-DARK1 40%, $PRIMARY-DARK1 60%,
    $PRIMARY 60%, $PRIMARY-DARK1 100%);
    box-shadow: inset 0 0 40px 40px $PRIMARY-DARK2;
    background-attachment: fixed;
    // background: stripes(135deg, ($PRIMARY 700px, $PRIMARY-DARK1 150px));
    
    color: $LIGHT;
    .about-me-content {
        // background: linear-gradient($PRIMARY-DARK1, $PRIMARY);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    
        .title {
            width: 20%;
            h2 {
                // width: 50px;
                font-size: 70px;
                text-align: right;
                font-weight: bold;
            }
        }
        .text {
            width: 60%;
            font-size: 18px;
            // backdrop-filter: blur(15px);
            // background: rgba($DARK, .1);
        }
    }
}