@import 'src/variables';

.intro-pg {
    
    .title-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        > h1 {
            text-shadow: 12px 5px 4px $MUTED;
            animation: fadeIn ease 2s;
        }
        > h4 {
            animation: fadeIn ease 2s;
        }
    }
}

