@import 'src/variables';

.text-primary   { color: $PRIMARY !important }
.text-secondary { color: $SECONDARY !important }
.text-dark      { color: $DARK !important }
.text-muted     { color: $MUTED !important }
.text-light     { color: $LIGHT !important }

.text-xlg { font-size: 96px; }
.text-lg { font-size: 80px;}

.font-title { 
    font-family: 'Mr Dafoe', cursive; 
    letter-spacing: 10px;
}
.font-primary { font-family: 'Open Sans';}

.bkgd-primary   { background-color: $PRIMARY !important }
.bkgd-secondary { background-color: $SECONDARY !important }
.bkgd-dark      { background-color: $DARK !important }
.bkgd-muted     { background-color: $MUTED !important;}

html, #root {
    // background-color: $DARK;
    ::-webkit-scrollbar {display:none;}
    // @extend .bkgd-dark;
}

.app {
    @extend .font-primary;
    // margin: 0 100px;
    // width: 100%;

}

.content {
    background: linear-gradient(185.04deg, #F4DCDC 20.58%, rgba(235, 87, 87, 0) 95.94%);
}